<% include ../partials/header %>

      <div class="starter-template">
        <h1>Admin News</h1>
        <table>
        <% news.forEach(news => { %>
        <tr>
          <td><%= news.title %></td>
        </tr>
        <% }) %>
        </table>
      </div>
    
<% include ../partials/footer %>