<% include partials/header.ejs %>

<div class="starter-template">
        <h1>Tabuada</h1>
        <p class="lead">Gere a tabuada de um n&uacute;mero de 1 &agrave; 100</p>
      </div>

   <% include partials/footer.ejs %>